#show-review-form {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #review-form-container {
    display: none;
   
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .centered-field {
    text-align: center;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .error-messages {
    color: red;
    font-size: 14px; 
    text-align: left; 
}